$primary-color: #a46708;
$secondary-color: #f0980c;
$text-color: #555;
$border-color: #ccc;
$border-color-hover: #333;
$break-small: 768px;

@font-face {
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-caption-v10-latin-regular.eot");
  src: local("PT Sans Caption"), local("PTSans-Caption"),
    url("../fonts/pt-sans-caption-v10-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/pt-sans-caption-v10-latin-regular.woff2") format("woff2"),
    url("../fonts/pt-sans-caption-v10-latin-regular.woff") format("woff"),
    url("../fonts/pt-sans-caption-v10-latin-regular.ttf") format("truetype"),
    url("../fonts/pt-sans-caption-v10-latin-regular.svg#PTSansCaption")
      format("svg");
}
@font-face {
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-caption-v10-latin-700.eot");
  src: local("PT Sans Caption Bold"), local("PTSans-CaptionBold"),
    url("../fonts/pt-sans-caption-v10-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/pt-sans-caption-v10-latin-700.woff2") format("woff2"),
    url("../fonts/pt-sans-caption-v10-latin-700.woff") format("woff"),
    url("../fonts/pt-sans-caption-v10-latin-700.ttf") format("truetype"),
    url("../fonts/pt-sans-caption-v10-latin-700.svg#PTSansCaption")
      format("svg");
}

/* ============================== General ========================== */
html {
  background-color: #fff;
}
body {
  font-size: 16px;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

  color: $text-color;
  font-family: "PT Sans Caption", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: $secondary-color;
    text-decoration: none;
  }
}
/* ============================== Navbar ========================== */
.navbar {
  z-index: 1; /* otherwise the header div with negative margin is making the language selector unclickable */
}

/* ============================== Header ========================== */

header {
  margin: -30px auto 1em;

  img {
    max-width: 170px;
    float: left;
    margin-right: 1em;
    @media screen and (max-width: $break-small) {
      display: block;
      float: none;
      margin-right: auto;
      margin-left: auto;
    }
  }
  h1 {
    font-size: 1.7em;
    margin-bottom: 0.5em;
    font-weight: 300;
    @media screen and (max-width: $break-small) {
      clear: both;
      text-align: center;
      margin-top: 0;
    }

    color: $primary-color;
    text-transform: uppercase;
    margin-top: 20px;
  }
  p {
    margin-top: 0;
    font-size: 98%;
    @media screen and (max-width: $break-small) {
      clear: both;
      margin: 15px;
      text-align: center;
    }

    font-weight: bold;
  }
  .link-more-info {
    @media screen and (max-width: $break-small) {
        display: block;
        text-align: center;
      }
  }
}

.clearfix {
  clear: both;
}

/* ============================== Main part ========================== */
@media screen and (max-width: 1215px) and (min-width: 1200px) {
  .container {
    max-width: 1152px;
  }
}

.card {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;

  background-color: white;
  border-radius: 0;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);

  .media {
    img {
      -webkit-filter: contrast(100%);
      filter: contrast(100%);
      width: 100px;

      @media screen and (max-width: 400px) {
        width: 48px;
      }
    }
    .h5 {
      height: 2.2rem;
      text-transform: uppercase;
      color: $text-color;
      font-size: 1rem;
      letter-spacing: 0;
      font-weight: bold;
    }
    .card-text {
      height: 3.6rem;
      font-size: 0.9rem;
      line-height: 1.2;
    }
  }

  hr {
    height: 1px;
    margin-bottom: 5px;

    border: none;
    border-bottom: 1px solid #ccc;
  }

  .provided-by {
    font-size: 0.9rem;
    font-style: italic;
    line-height: 1em;
    margin: 1rem 0 0 0;

    a:last-child {
      font-weight: bold;
      font-style: normal;
    }
  }

  form {
    .form-control {
      height: auto;
    }
    .input-group {
      margin-bottom: 0 !important;
      input {
        border-radius: 0;
        color: #757575;
      }
    }
  }

  a.btn {
    width: 100%;
    &.btn-outline-secondary {
      margin-top: 1rem;
      font-size: 0.9rem;
    }
  }

  .btn {
    padding: 0.5rem;

    background-color: white;
    border: 1px solid #cccccc;
    color: $text-color;
    border-radius: 0;

    &:hover {
      border: 1px solid #333;
      color: $text-color;
    }

    &.refresh {
      top: 0;

      float: right;
      width: 24px;
      height: 24px;
      padding: 2px;
      margin-left: 4px;
      border: 0;
      img {
        vertical-align: top;
        width: 20px;
        height: 20px;
      }
    }

    &.btn-primary {
      font-size: 0.95rem;

      color: white;
      background-color: $primary-color;
      border: none;
      text-transform: uppercase;

      &:hover {
        color: white;
        background-color: $secondary-color;
        border: none;
      }
    }

    .btn-outline-secondary {
      font-size: 0.9rem;
      color: $text-color;
      border-color: $border-color;

      &:hover {
        background-color: transparent;
        border-color: $border-color-hover;
        color: $text-color;
      }
      &:active,
      &:focus {
        background-color: transparent !important;
        border-color: $border-color-hover !important;
        color: $border-color-hover !important;
      }
    }
  }
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: $primary-color;
}
.card-title {
  overflow-wrap: break-word;
}

.main-footer {
  font-size: 0.9em;
  padding: 1rem;
}

:root {
  --primary: $primary-color;
  --secondary: $secondary-color;
}
